.text-book-card h5 {
  height: 60%;
}

.text-book-card h6 {
  height: 60%;
}

.text-book-card p {
  height: 40%;
  line-height: 20px;
  padding-top: 2px;
}

.service-style2 .inner-box .thumb
img {
  height: 420px !important;
  width: 100% !important;
}

.service-style2 .inner-box .bg-white-f5 {
  height: 180px !important;

}

.anchor{
  display: block;
  height: 104px; /*same height as header*/
  margin-top: -104px; /*same height as header*/
  visibility: hidden;
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y !important;
  touch-action: pan-y !important;
}

#contact-form {
  height: 864px;
  /* height: 824px; */
  width: 100%;
}

.text-small {
  font-size: 1rem;
}
