/* --------------------------------------
$Author: ThemeMascot
$URL: https://themeforest.net/user/ThemeMascot

----------------------------------------- */
$total-theme-colors: 4;

$theme-color1: #272C3F;
$theme-color2: #B89B5E;
$theme-color3: #FF6501;
$theme-color4: #003A6B;

// #3f46aa
// #383b7b


@import "parts/loader";
