/*
 * Shortcode: typography.scss
 * -----------------------------------------------
*/


/*-----------------------------
latest-news.scss
--------------------------------*/

	.news .date {
    position: absolute;
    left: 1px;
    top: 22px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 15px 5px;
    min-width: 70px;
    z-index: 9;
    line-height: 1.3em;
    text-align: center;
}

	.news .date:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 20px;
    left: 0;
    bottom: -20px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}


/*-----------------------------
project-style1.scss
--------------------------------*/

.project-style1{
    position: relative;
    display: block;
}
.project-style1 .image-thumb{
    position: relative;
    display: block;
    overflow: hidden;
}
.project-style1 .image-thumb .thumb{
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}
.project-style1 .image-thumb .thumb:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    content: "";
    background-image: url("../images/shadow-overlay2.png");
    background-position: center bottom;
    z-index: 1;
    background-repeat: no-repeat;
}
.project-style1 .title-holder {
    position: absolute;
    left: 15px;
    bottom: 0;
    right: 15px;
    height: 105px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    z-index: 3;
}
.project-style1 .title-holder:before{
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e5e5e5;
    content: "";
    opacity: 0;
    transform-style: preserve-3d;
    transform: perspective(1200px) rotateX(90deg) translateZ(0px);
    transform-origin: bottom;
    transition: all 400ms ease 0s;
    z-index: -1;
}
.project-style1:hover .title-holder:before{
    opacity: 1;
    transform: perspective(1200px) rotateX(0deg) translateZ(0px);
    transition: all 400ms ease 0s;
}
.project-style1 .title-holder h3 a{
    color: #fff;
    transition: all 700ms ease 500ms;
}
.project-style1:hover .title-holder h3 a{
    color: #fff;
    transition: all 700ms ease 500ms;
}


/*-----------------------------
Service-style1.scss
--------------------------------*/

.service-style1 .item-thumb {
  text-align: center;
  position: relative;
}
.service-style1 .item-thumb img {
  border-radius: 4px;
}
.service-style1 .item-thumb:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.service-style1 .item-content {
  text-align: center;
  transform: translateY(-50px);
  background-color: #ffffff;
  border-radius: 4px;
  padding: 35px 30px 45px;
  margin: 0 20px;
  box-shadow: 0px 1px 0px 0px rgba(212, 212, 212, 0.75);
}
.service-style1:hover .item-thumb:after {
  visibility: visible;
  opacity: 1;
}
.service-style1:hover .item-thumb .hover-icon {
  visibility: visible;
  opacity: 1;
  top: 50%;
}

/*-----------------------------
Service-style2.scss
--------------------------------*/

.service-style2{
  position:relative;
}

.service-style2 .inner-box .thumb{
  position:relative;
  display: block;
  overflow: hidden;
}

.service-style2 .inner-box .thumb:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  z-index: 1;
}

.service-style2 .inner-box:hover .thumb:before{
  opacity: 0.70;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}